
<nav class="navbar  navbar-expand-md navbar-dark" style="background-color: #691414;">
  <a class="navbar-brand" href="#">ePE</a>


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()" href="#">LogOut</a>
      </li>
     
      
    </ul>

    <div *ngIf="loggedIn()" class="dropdown">
        <a class="dropdown-toggle text-light" >

          Welcome {{user}}
        </a>
      
        <div class="dropdown-menu" >
          <a class="dropdown-item" href="#">Edit Profile</a>
          <div class="dropdown-devider"></div>
          <a class="dropdown-item" href="#">All Performace Reports</a>
          <div class="dropdown-devider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" required [(ngModel)]="model.username" >
      <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" required [(ngModel)]="model.password" >
      <button  class="btn btn-primary" type="submit" [disabled] = "!loginForm.valid">Login</button>
    </form>
    </div>
  </nav>

  <div class="container mt-5">
  <div *ngIf="!loggedIn()" class="card text-center">
      <div class="card-header">
         ePE App
      </div>
      <div class="card-body ">
        <h5 class="card-title">Welcome to Employee Performance Evaluation App </h5>
        <h3>App Features </h3>
<div class="row justify-content-center">
            <ul class="list-group col-4  ">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  User Authentication 
                  <span class="badge badge-primary badge-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  User Authorization using JWT
                  <span class="badge badge-primary badge-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Role Based Authorization
                  <span class="badge badge-primary badge-pill badge-danger">0</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                   Client Server Model 
                    <span class="badge badge-primary badge-pill">1</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      Error Handling
                      <span class="badge badge-primary badge-pill badge-danger">0</span>
                    </li>
              </ul>
       
    </div>
      </div>
      <div class="card-footer">
        <p><strong>A TPJ project by</strong> </p> 
        <span> Rudro Remi Haldar</span>
        <span>  ||  Mohammad Hasan Murad </span>
        
      </div>
    </div>
    </div>
    
